@import url(../common.less);

.user-content {
  padding: 0;
  background-color: @white;
  .menu {
    li {
      font-size: 14px;
      padding: 10px;
      border-bottom: 1px solid @borderColor;
      border-right: 1px solid @borderColor;
      cursor: pointer;
      font-weight: bold;
    }
  }
  .content {
    position: relative;
    width: 100%;
    min-height: 600px;
    .message,
    .project-history,
    .information,
    .system {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }

    .message {
      .receive, .send {
        h5 {
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid @borderColor;
          color: @blue + #333333;
        }
        .message-box {
          border-bottom: 1px solid @borderColor;
          padding: 10px;
          .left, .right {
            float: left;
            font-size: 14px;
            padding-top: 10px;
          }
          .left {
            width: 100px;
            text-align: center;
          }
          span {
            float: right;
            font-size: 12px;
            line-height: 22px;
            i {
              margin-left: 10px;
            }
          }
          .delete {
            cursor: pointer;
            &:hover {
              color: @blue + #333333;
            }
          }
        }
      }
    }

    .project-history {
      display: none;
      h5 {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid @borderColor;
        color: @blue + #333333;
      }
      ul {
        li {
          padding: 10px;
          border-bottom: 1px solid @borderColor;
          a {
            .link;
          }
        }
      }
    }

    .information {
      display: none;
      .no-information {
        font-size: 16px;
        p, div {
          margin-top: 20px;
        }
      }
      ul {
        padding-top: 10px;
        display: none;
        li {
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid @borderColor;
          h5, p {
            float: left;
            font-size: 16px;
            line-height: 22px;

          }
          h5 {
            width: 100px;

          }
        }
      }
      display: none;
    }

    .system {
      display: none;
      h5 {
        color: red;
        margin-top: 20px;
      }
    }
  }
}
.changeAdd {
  margin-bottom: 20px;
  text-align: right;
  a{
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    .link
  }
}
.active {
  color: @blue + #333333;
}
