<div class="mask"></div>
<div class="cut-picture">
  <i class="iconfont" id="close-cut">&#xe648;</i>
  <h3>编辑头像</h3>
  <h4>调整头像尺寸和位置</h4>
  <div class="pic-ctrl">
    <canvas class="cut-canvas" width="240" height="240px" style="width: 240px;height: 240px;"></canvas>
    <div class="rank">
      <i class="iconfont less">&#xe625;</i>
      <input type="range" step="0.01" min="1" max="2" value="1">
      <i class="iconfont more">&#xe610;</i>
    </div>
    <button id="cut-button" type="button">确定</button>
  </div>
</div>