<div class="details common-width">
  <div class="container">
    <ul>
      <li class='clearfix'>
        <h5>项目名称</h5>
        <p class="p-name"></p>
      </li>
      <li class='clearfix'>
        <h5>项目类型</h5>
        <p class="p-kind"></p>
      </li>
      <li class='clearfix'>
        <h5>项目联系人</h5>
        <p class="p-connec"></p>
      </li>
      <li class='clearfix'>
        <h5>qq</h5>
        <p class="p-qq"></p>
      </li>
      <li class='clearfix'>
        <h5>邮箱</h5>
        <p class="p-email"></p>
      </li>
      <li class='clearfix'>
        <h5>需要的人数</h5>
        <p class="p-num"></p>
      </li>
      <li class='clearfix'>
        <h5>技能要求</h5>
        <p class="p-skill"></p>
      </li>
      <li class='clearfix'>
        <h5>开始时间</h5>
        <p class="p-start"></p>
      </li>
      <li class='clearfix'>
        <h5>结束时间</h5>
        <p class="p-end"></p>
      </li>
      <li class='clearfix'>
        <h5>项目简介</h5>
        <p class="p-profile"></p>
      </li>
    </ul>
    <div class="join-bt clearfix">
      <button id="join" type=text>参与项目</button>
    </div>
  </div>
</div>
