<div class="index common-width">
  <div class="container">
    <section class="search-sec">
      <div class="row">
        <div class="hidden-xs col-sm-3"></div>
        <div class="col-xs-8 col-sm-6 search-bar">
          <input type="text" placeholder="搜索你感兴趣的内容">
          <i class="iconfont">&#xe59c;</i>
        </div>
        <div class="release-bt col-xs-3">
          <button type="text" class="openProject">发布项目</button>
        </div>
      </div>
    </section>
    <section class="rotation"></section>
    <section class="late-pro">
      <h3>最近项目</h3>
    </section>
    <section class="hot-pro">
      <h3>热门项目</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 project-box">
          <a href="javascript:void(0)">
            <div class="clearfix">
              <p>项目名称:</p>
              <p class="p-name">超级玛丽 for andriod</p>
            </div>
            <div class="clearfix">
              <p>项目类型:</p>
              <p class="p-type">游戏开发</p>
            </div>
            <div class="clearfix">
              <p>项目人员:</p>
              <p class="p-people">andriod开发工程师 UI设计师</p>
            </div>
            <div class="clearfix">
              <p class="pro-time">2017-6-15</p>
            </div>
            <div class="join-pro">
              <button class="join" type="text">点击参与</button>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="sendMessageContainer">
		<div class="sendMessage">
			<p class="sendProject"></p>
			<h4>填写参与项目自身说明信息</h4>
			<textarea name="message" rows="10" cols="20"></textarea>
			<div><button class="sendSure">发送</button><button class="sendCancel">取消</button></div>
		</div>
	</div>
</div>