<div class="index common-width">
  <div class="container">
    <section class="search-sec">
      <div class="row">
        <div class="hidden-xs col-sm-3"></div>
        <div class="col-xs-8 col-sm-6 search-bar">
          <input type="text" placeholder="搜索你感兴趣的内容">
          <i class="iconfont">&#xe59c;</i>
        </div>
        <div class="release-bt col-xs-3">
          <button type="text" class="openProject">发布项目</button>
        </div>
      </div>
    </section>
    <section class="rotation"></section>
    <section class="hot-pro">
      <h3>最近项目</h3>
      <div class="row pro-box">
      </div>
    </section>
  </div>
</div>
