<div class="register common-width">
  <div class="container">
    <form class="teacher">
      <div class="user-img-m">
        <h4 class="col-xs-3 col-sm-2">头像</h4>
        <div class="user-img">
          <div class="img-mask"></div>
          <i class="iconfont">&#xe62e;</i>
          <h5>点击上传头像</h5>
          <input id="t-img" class="head-img" type="file">
          <img src="" alt="1">
        </div>
      </div>
      <div class="user-text">
        <div class="input-box border-top">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">姓名</h4>
            <input id="t-name" class="col-xs-5 col-sm-3 must" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">性别</h4>
            <div class="sex">
              <label><input type="radio" value="男" name="t-sex" checked="checked">男</label>
              <label><input type="radio" value="女" name="t-sex">女</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">所在院校</h4>
            <select id="t-university">
              <option value="西南石油大学">西南石油大学</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">所在院系</h4>
            <select id="t-academy">
              <option value="计算机科学与技术学院">计算机科学与技术学院</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">职称</h4>
            <select id="t-rank">
              <option value="助教">助教</option>
              <option value="讲师">讲师</option>
              <option value="副教授">副教授</option>
              <option value="教授">教授</option>
              <option value="博士生导师">博士生导师</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">QQ</h4>
            <input class="col-xs-8 col-sm-4 must" id="t-qq" type="text">
          </div>
        </div>
      </div>
    </form>
    <form class="student">
      <div class="user-img-m">
        <h4 class="col-xs-3 col-sm-2">头像</h4>
        <div class="user-img">
          <div class="img-mask"></div>
          <i class="iconfont">&#xe62e;</i>
          <h5>点击上传头像</h5>
          <input id="s-img" class="head-img" type="file">
          <img src="" alt="head">
        </div>
      </div>
      <div class="user-text">
        <div class="input-box border-top">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">姓名</h4>
            <input class="col-xs-5 col-sm-3 must" id="s-name" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">学历</h4>
            <select name="" id="s-edu-background">
              <option value="大专">大专</option>
              <option value="本科">本科</option>
              <option value="硕士">硕士</option>
              <option value="博士">博士</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">性别</h4>
            <div class="sex">
              <label><input type="radio" value="男" name="s-sex" checked>男</label>
              <label><input type="radio" value="女" name="s-sex">女</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">所在院校</h4>
            <select id="s-university">
              <option value="西南石油大学">西南石油大学</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">所在院系</h4>
            <select id="s-academy">
              <option value="计算机科学与技术学院">计算机科学与技术学院</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">专业</h4>
            <select id="s-major">
              <option value="网络工程">网络工程</option>
              <option value="软件工程">软件工程</option>
              <option value="物理网工程">物理网工程</option>
              <option value="计算机科学与技术">计算机科学与技术</option>
              <option value="信息管理">心里管理</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">入学时间</h4>
            <select id="s-entry-university">
              <option value="2010年">2010年</option>
              <option value="2011年">2011年</option>
              <option value="2012年">2012年</option>
              <option value="2013年">2013年</option>
              <option value="2014年">2014年</option>
              <option value="2015年">2015年</option>
              <option value="2016年">2016年</option>
              <option value="2017年">2017年</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">毕业时间</h4>
            <select id="s-leave-university">
              <option value="2014年">2014年</option>
              <option value="2015年">2015年</option>
              <option value="2016年">2016年</option>
              <option value="2017年">2017年</option>
              <option value="2018年">2018年</option>
              <option value="2019年">2019年</option>
              <option value="2020年">2020年</option>
              <option value="2021年">2021年</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">技能</h4>
            <div class="col-xs-8 col-md-9 skill-box"></div>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">项目经验</h4>
            <textarea class="col-xs-8 col-sm-8" id="s-experience" rows="6" placeholder="(选填)"></textarea>
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">QQ</h4>
            <input class="col-xs-8 col-sm-4 must" id="s-qq" type="text">
          </div>
        </div>
        <div class="input-box">
          <div class="row">
            <h4 class="col-xs-3 col-md-2">自我评价</h4>
            <textarea class="col-xs-8 col-sm-8" id="s-self-feel" cols="30" rows="3" placeholder="(选填)"></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-xs-3 col-md-3"></div>
      <button type="button" id="submit" class="col-xs-7 col-md-1">提交</button>
    </div>
  </div>
</div>