<div class="release common-width">
  <div class="container">
    <form>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">项目名称</h4>
          <input id="name" type="text" class="col-xs-9 col-md-5">
          <i class="iconfont error">&#xe648;</i>
        </div>
      </div>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">项目类型</h4>
          <input id="type" type="text" class="col-xs-9 col-md-5">
          <i class="iconfont error">&#xe648;</i>
        </div>
      </div>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">起始时间</h4>
          <div class="col-xs-8 col-sm-9 col-md-5 time-box"></div>
          <i class="iconfont error">&#xe648;</i>
        </div>
      </div>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">结束时间</h4>
          <div class="col-xs-8 col-sm-9 col-md-5 time-box"></div>
          <i class="iconfont error">&#xe648;</i>
        </div>
      </div>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">需要人数</h4>
          <select class="skill-people">
            <option value="1">1人</option>
            <option value="2">2人</option>
            <option value="3">3人</option>
            <option value="4">4人</option>
            <option value="5">5人</option>
            <option value="6">6人</option>
          </select>
        </div>
      </div>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">人员要求</h4>
          <div class="col-xs-8 col-md-8 skill-content">
            <div class="skill-box"></div>
          </div>
          <i class="iconfont error">&#xe648;</i>
        </div>
      </div>
      <div class="input-box">
        <div class="row">
          <h4 class="col-xs-3 col-sm-3">概述</h4>
          <textarea rows="4" id="summary" type="text" class="col-xs-9 col-md-5"></textarea>
          <i class="iconfont error">&#xe648;</i>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-xs-3 col-md-3"></div>
      <button type="button" id="submit" class="col-xs-7 col-md-1">提交</button>
    </div>
  </div>
</div>