<ul>
  <li><a href="javascript:void(0);"><img src="../img/11.jpg" alt="1"></a></li>
  <li><a href="javascript:void(0);"><img src="../img/21.jpg" alt="2"></a></li>
  <li><a href="javascript:void(0);"><img src="../img/31.jpg" alt="3"></a></li>
  <li><a href="javascript:void(0);"><img src="../img/41.jpg" alt="4"></a></li>
  <li><a href="javascript:void(0);"><img src="../img/51.jpg" alt="5"></a></li>
</ul>
<div class="icon">
  <span class="active"></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="to-left">
  <i class="iconfont">&#xe618;</i>
</div>
<div class="to-right">
  <i class="iconfont">&#xe61c;</i>
</div>