<div class="skill-box-top clearfix">
  <div class="skill-show"></div>
  <div>
    <button type="button" class="select-skill">选择</button>
  </div>
</div>
<div class="skill-list">
  <ul class="skill-ul-left clearfix">
    <li class="skill-li-left">IT
      <ul class="skill-ul-mid">
        <li class="skill-li-mid">前端开发
          <div>
            <span data-skill='HTML/CSS'>HTML/CSS</span>
            <span data-skill='javaScript'>javaScript</span>
            <span data-skill='HTML5'>HTML5</span>
            <span data-skill='CSS3'>CSS3</span>
            <span data-skill='jQuery'>jQuery</span>
            <span data-skill='Node.js'>Node.js</span>
            <span data-skill='Bootstrap'>Bootstrap</span>
            <span data-skill='Less/Sass'>Less/Sass</span>
          </div>
        </li>
        <li class="skill-li-mid">后端开发
          <div>
            <span data-skill="java">java</span>
            <span data-skill="Spring">Spring</span>
            <span data-skill="SpringBoot">Spring Boot</span>
            <span data-skill="PHP">PHP</span>
            <span data-skill="Python">Python</span>
            <span data-skill="C#">C#</span>
            <span data-skill="C++">C++</span>
          </div>
        </li>
        <li class="skill-li-mid">数据库
          <div>
            <span data-skill="MySQl">MySQl</span>
            <span data-skill="MongoDB">MongoDB</span>
            <span data-skill="Oracel">Oracel</span>
            <span data-skill="SQLServer">SQL Server</span>
          </div>
        </li>
        <li class="skill-li-mid">UI设计
          <div>
            <span data-skill="PS">PS</span>
            <span data-skill="AI">AI</span>
          </div>
        </li>
        <li class="skill-li-mid">爬虫
          <div>
            <span data-skill="PHP">PHP</span>
            <span data-skill="Python">Python</span>
          </div>
        </li>
        <li class="skill-li-mid">移动开发
          <div>
            <span data-skill="Android">Android</span>
            <span data-skill="IOS">IOS</span>
            <span data-skill="Unity3D">Unity 3D</span>
            <span data-skill="Cocos2d-x">Cocos2d-x</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
    <li class="skill-li-left">敬请期待
      <ul class="skill-ul-left">
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
        <li class="skill-li-mid">敬请期待
          <div></div>
        </li>
      </ul>
    </li>
  </ul>
  <div class="skill-bottom clearfix">
    <button type="button" class="skill-sure">确定</button>
    <button type="button" class="skill-cancle">取消</button>
  </div>
</div>