<div class="time-box-left">
  <div class="show-time"></div>
  <div class="select-time">
    <i class="triangle"></i>
    <div class="time-top">
      <div class="time-col">
        <h5>年</h5>
        <i class="iconfont year up">&#xe614;</i>
        <input type="text" class="num-y" value="2017" maxlength="5">
        <i class="iconfont year down">&#xe615;</i>
      </div>
      <div class="time-col">
        <h5>月</h5>
        <i class="iconfont month up">&#xe614;</i>
        <input class="num-m" type="text" value="8" maxlength="3">
        <i class="iconfont month down">&#xe615;</i>
      </div>
      <div class="time-col">
        <h5>日</h5>
        <i class="iconfont day up">&#xe614;</i>
        <input class="num-d" type="text" value="18" maxlength="3">
        <i class="iconfont day down">&#xe615;</i>
      </div>
    </div>
    <div class="time-bottom clearfix">
      <button class="get-time" type="button">确定</button>
      <button class="close-time" type="button">取消</button>
    </div>
  </div>
</div>
<button class="start" type="button">选择</button>