<div class="common-width user">
  <div class="container clearfix">
    <div class="row user-content">
      <div class="col-xs-2">
        <ul class="menu">
          <li class="active">消息中心</li>
          <li>项目历史</li>
          <li>个人资料</li>
          <li>系统中心</li>
        </ul>
      </div>
      <div class="col-xs-10">
        <div class="content">
          <div class="content-box message">
            <div class="receive">
              <h5>接收的消息</h5>
              <ul>

              </ul>
            </div>
            <div class="send">
              <h5>发送的消息</h5>
              <ul>

              </ul>
            </div>
          </div>
          <div class="project-history content-box">
            <h5>发布过的项目</h5>
            <ul>

            </ul>
          </div>
          <div class="information content-box">
            <ul>
              <li class="clearfix">
                <h5>用户名</h5>
                <p class="s-username">无</p>
              </li>
              <li class="clearfix">
                <h5>性别</h5>
                <p class="s-sex">无</p>
              </li>
              <li class="clearfix">
                <h5>学历</h5>
                <p class="s-edu">无</p>
              </li>
              <li class="clearfix">
                <h5>学校</h5>
                <p class="s-university">无</p>
              </li>
              <li class="clearfix">
                <h5>专业</h5>
                <p class="s-major">无</p>
              </li>
              <li class="clearfix">
                <h5>入学时间</h5>
                <p class="s-entry">无</p>
              </li>
              <li class="clearfix">
                <h5>毕业时间</h5>
                <p class="s-leave">无</p>
              </li>
              <li class="clearfix">
                <h5>qq</h5>
                <p class="s-qq">无</p>
              </li>
              <li class="clearfix">
                <h5>技能</h5>
                <p class="s-skill">无</p>
              </li>
              <li class="clearfix">
                <h5>项目经验</h5>
                <p class="s-exp">无</p>
              </li>
              <li class="clearfix">
                <h5>自我评价</h5>
                <p class="s-self">无</p>
              </li>
              <li class="clearfix">
                <h5>等级</h5>
                <p class="s-level">无</p>
              </li>
              <li class="clearfix">
                <h5>邮箱</h5>
                <p class="s-email">无</p>
              </li>
            </ul>
            <ul>
              <li class="clearfix">
                <h5>用户名</h5>
                <p class="t-username">无</p>
              </li>
              <li class="clearfix">
                <h5>性别</h5>
                <p class="t-sex">无</p>
              </li>
              <li class="clearfix">
                <h5>学校</h5>
                <p class="t-university">无</p>
              </li>
              <li class="clearfix">
                <h5>学院</h5>
                <p class="t-academy">无</p>
              </li>
              <li class="clearfix">
                <h5>职称</h5>
                <p class="t-rank">无</p>
              </li>
              <li class="clearfix">
                <h5>qq</h5>
                <p class="t-qq">无</p>
              </li>
              <li class="clearfix">
                <h5>邮箱</h5>
                <p class="t-email">无</p>
              </li>
            </ul>
            <div class="changeAdd">
              <a href="register.html" target="_blank">修改添加个人信息</a>
            </div>
          </div>
          <div class="system content-box">
            <h5>敬请期待!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
